* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

#main {
    margin: 0 auto;
    width: 86%;
}

nav {
    width: 100%;
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

nav label {
    font-size: 1.4rem;
    background: #1e1e1e;
    color: #a8a8a8;
    width: 35px;
    padding: 10px 15px;
    text-align: center;
    border-radius: 20%;
    position: absolute;
    top: 10px;
    left: 50%;
}

nav ul {
    display: inline-flex;
    margin-left: 40px;
}

nav ul li {
    list-style: none;
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    color: #1e1e1e;
    cursor: pointer;
    font-size: 0.8rem;
}

nav a.active {
    text-decoration: none;
    background: #ababab;
    color: #1e1e1e;
    font-size: 0.8rem; 
    padding: 10px 0;
    width: 90px;
    text-align: center;
    border-radius: 20px; 
}
